# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.Debug
*.Release
/compiledate.h
/compiler.h
*.def
.objs
.rccs
.uis
.mocs
.libs
*~#*#
.#*
.DS_Store
qrc_*.cpp
moc_*.cpp
*.save
*.layout
*.depend
*.log
object_script.*
.dep
*.lst
*.hex
*.elf
*.lst
*.lss
*.sym
*.d
Sicherungskopie_*.cdr
*.snm
*.toc
*.tps
*.t3r
*.dcu
*.~*
*.lck
*.synctex
*.tps
*.toc
*.out
*.snm
*.nav
*.aux
*.def
Thumbs.db
*.prf


/extlibs/cairo/include
/extlibs/cairo/lib
/extlibs/cairo/share
/extlibs/cimg/Licence_CeCILL_V2-en.txt
/extlibs/cimg/Licence_CeCILL-C_V1-en.txt
/extlibs/cimg/README.txt
/extlibs/cimg/examples
/extlibs/cimg/html
/extlibs/cimg/plugins
/extlibs/cimg/resources
/extlibs/cimg/CImg.h
/extlibs/eigen/doc
/extlibs/eigen/include
/extlibs/gsl/bin
/extlibs/gsl/include
/extlibs/gsl/lib
/extlibs/gsl/share
/extlibs/levmar/include
/extlibs/levmar/lib
/extlibs/libjpeg/bin
/extlibs/libjpeg/include
/extlibs/libjpeg/lib
/extlibs/libjpeg/share
/extlibs/libpng/bin
/extlibs/libpng/include
/extlibs/libpng/lib
/extlibs/libpng/share
/extlibs/libtiff/bin
/extlibs/libtiff/include
/extlibs/libtiff/lib
/extlibs/libtiff/share
/extlibs/libusb/bin
/extlibs/libusb/include
/extlibs/libusb/lib
/extlibs/lmfit/bin
/extlibs/lmfit/include
/extlibs/lmfit/lib
/extlibs/lmfit/share
/extlibs/lmfit5/include
/extlibs/lmfit5/lib
/extlibs/lmfit5/share
/extlibs/nlopt/include
/extlibs/nlopt/lib
/extlibs/nlopt/share
/extlibs/ool/include
/extlibs/ool/info
/extlibs/ool/lib
/extlibs/pixman/include
/extlibs/pixman/lib
/extlibs/zlib/include
/extlibs/zlib/lib
/extlibs/andor_win32/err.txt
/extlibs/andor_win32/err1.txt
/extlibs/andor_win32/err2.txt
/extlibs/andor_win32/err3.txt
/extlibs/andor_win32/err4.txt
/extlibs/andor_win32/err5.txt
/extlibs/andor_win32/err6.txt
/extlibs/andor_win32/err_out.txt
/extlibs/andor_win32/test.cpp
/extlibs/andor_win32/test1.cpp
/extlibs/andor_win64/err_out.txt
/extlibs/andor_win64/test.cpp
/extlibs/nidaqmx/NIDAQmx.h
/output/qf3infotool.exe
/output/quickfit3lib.prl
/output/quickfit3widgets.prl
/plugins/imfcsfit/us.stackdump
/svnversion.h
