body { text-align: justify;
       margin: 0.5em 1.5em;
       color: #002244;
       background-color: white;
       background: url("AntGreenWhite.jpg");
       font-family: "new century schoolbook", serif }

a:link    { color: #0055cc }
a:visited { color: #303077 }
a:active  { color: #aaaa00 }

h1 { text-align: center; font-size: 200%; margin: 0em 0em 0.2em; color: #000066 }
h2 { text-align: left;   font-size: 150%; margin: 0em 0em 0.4em; color: #000000 }
h3 { text-align: left;   font-size: 120%; margin: 0em 0em 0.4em; color: #000000 }
li { margin: 0em 0em 0.2em }

.left    { text-align:  left }
.center  { text-align:  center }
.right   { text-align:  right }
.justify { text-align:  justify }
.top     { vertical-align: top }
.middle  { vertical-align: middle }
.bottom  { vertical-align: bottom }
.bold    { font-weight: bold }

.caption { text-align: center; font-size: 90%; font-style: italic }
.preview { vertical-align: top; margin: 0.2em 3.0em 0.2em 2.0em }
.clear   { clear: both }
a.plain  { text-decoration: none; font-size: larger; font-weight: bold }

.in0 { text-indent: 0.000em; line-height: 110% }
.in1 { text-indent: 0.143em; line-height: 110% }
.in2 { text-indent: 0.518em; line-height: 110% }
.in3 { text-indent: 0.982em; line-height: 110% }
.in4 { text-indent: 1.357em; line-height: 110% }
.in5 { text-indent: 1.500em; line-height: 110% }

